*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 0;
    height: 0;
}

.maincontainer{
    width: 100vw;
    height: 100vh;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 24rem;
    width: 21rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    
}

.header{
    width: 100%;
    height: 25%;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);    
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p{
    color: white;
    font-size: 2rem
}
/* ------------------------------------------------------------------------------------------ */
.credentials{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.credentials > input{
    height: 2.5rem;
    width: 18rem;
    padding-left: 1rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.2s;
}
.credentials > input:hover{
    transform: scale(1.01);
}

.forgetpassword{
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}
.forget >a{
    text-decoration: none ;
}
.forget >a:hover{
    text-decoration: underline;
}
/* ------------------------------------------------------------------------------------------ */
#login{
    padding: 0.5rem 7.5rem;
    margin-left: 2rem;
    border-radius: 2rem;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); 
    outline: none;
    border: none;
    text-align: center;
    color: white;
    transition: all 0.2s;
}
#login:hover{
    cursor: pointer;
    transform: scale(0.99);
}
/* ------------------------------------------------------------------------------------------ */
.signup{
    margin: 1.5rem 2rem;
    text-align: center;
}

.signup >p >a{
    text-decoration: none;
    font-weight: normal;
}
.signup >p{
    font-weight: bold;
}


